<header class="encabezado">
    <div class="logo">
        <img src="/img/logo-ford.png" alt="Logo Ford">
    </div>  
    <div class="menu">
        <nav class="menuIzquierdo">
            <ul class="opcionesIzquierdo">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Vehiculos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <nav class="menuDerecho">
            <ul class="opcionesDerecho">
                <li><a href="#">Concesionarios</a></li>
                <li><a href="#">Presupuesto</a></li>
            </ul>
        </nav>
    </div>  
</header>